<div class="container mt-5">
  <h1><strong>Restaurants</strong></h1>

  <ul>
    <% @restaurants.each do |restaurant| %>
      <li> 
        <%=link_to restaurant.name, restaurant_path(restaurant) %> 
        - <%= restaurant.category.capitalize %> 
        </li>
    <% end %>
  </ul>

  <p><%= link_to "Create new Restaurant", new_restaurant_path%></p>
</div>