<div class="container mt-5">
  <h2><strong><%= @restaurant.name %></strong></h2>
  <p><%= @restaurant.address %></p>
  <ol><strong>Reviews</strong></ol>
    <% @restaurant.reviews.each do |review| %>
      <li> 
        <%= review.content%>
      </li>
    <% end %>
  <p><%= link_to "Back to Restaurant", restaurants_path%></p>
</div>